{% case page.lang %}
  {% when 'ru' %}
    {% assign home_url = '/torglink/ru/' %}
    {% assign releases_url = '/torglink/ru/releases/' %}
  {% when 'de' %}
    {% assign home_url = '/torglink/de/' %}
    {% assign releases_url = '/torglink/de/releases/' %}
  {% when 'fr' %}
    {% assign home_url = '/torglink/fr/' %}
    {% assign releases_url = '/torglink/fr/releases/' %}
  {% when 'es' %}
    {% assign home_url = '/torglink/es/' %}
    {% assign releases_url = '/torglink/es/releases/' %}
  {% when 'zh' %}
    {% assign home_url = '/torglink/zh/' %}
    {% assign releases_url = '/torglink/zh/releases/' %}
  {% else %}
    {% assign home_url = '/torglink/' %}
    {% assign releases_url = '/torglink/releases/' %}
{% endcase %}
{% if page.section == 'releases' %}
  {% assign en_alt = '/torglink/releases/' %}
  {% assign ru_alt = '/torglink/ru/releases/' %}
  {% assign de_alt = '/torglink/de/releases/' %}
  {% assign fr_alt = '/torglink/fr/releases/' %}
  {% assign es_alt = '/torglink/es/releases/' %}
  {% assign zh_alt = '/torglink/zh/releases/' %}
{% else %}
  {% assign en_alt = '/torglink/' %}
  {% assign ru_alt = '/torglink/ru/' %}
  {% assign de_alt = '/torglink/de/' %}
  {% assign fr_alt = '/torglink/fr/' %}
  {% assign es_alt = '/torglink/es/' %}
  {% assign zh_alt = '/torglink/zh/' %}
{% endif %}
