<div class="qs-shots">
  <figure>
    <img src="{{ '/assets/img/quickstart/maui-network-tab.jpg' | relative_url }}" alt="{{ t.quickstart_app_alt_maui_network }}" width="1024" height="543">
    <figcaption>{{ t.quickstart_app_cap_maui_network }}</figcaption>
  </figure>
  <figure>
    <img src="{{ '/assets/img/quickstart/maui-servers-button.jpg' | relative_url }}" alt="{{ t.quickstart_app_alt_maui_servers }}" width="1024" height="529">
    <figcaption>{{ t.quickstart_app_cap_maui_servers }}</figcaption>
  </figure>
  <figure>
    <img src="{{ '/assets/img/quickstart/maui-add-server.jpg' | relative_url }}" alt="{{ t.quickstart_app_alt_maui_add }}" width="1024" height="545">
    <figcaption>{{ t.quickstart_app_cap_maui_add }}</figcaption>
  </figure>
</div>
